
/* basics */
@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/css?family=VT323';

:root {
  --light-grey: #ECEFF4;
  --grey: #D8DEE9;
  --blue: #2E3440;
	--other-blue: #3B4252;
	--light-blue: #88C0D0;
  --font: 20px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'VT323', monospace;
  background: var(--blue);
}

* {
  text-decoration: none;
}

a {
  color: inherit;
}

b {
  font-weight: 600;
}

/* html */

.container {
  width: 90%;
	margin: 0 auto;
  max-width: 640px;
}

.top {
  padding-top: 5%;
}

.image {
  text-align: center;
  display: flex;
  justify-content: center;
}

.image img {
  width: 10em;
  height: 10em;
  /* width: 10vw; */
  /* height: 10vw; */
  border-radius: 50%;
}

.title {
  font-weight: normal;
  font-size: 2.5rem;
  color: var(--blue);
  text-align: center;
}

.description {
  color: var(--grey);
  font-size: 25px;
}

.bg {
  background: var(--grey);
  padding: 0 15px 2px 13px;
  text-align: center;
}


.small {
  font-size: 20px;
  opacity: .6;
}

.buttons {
  margin-top: 35px;
  text-align: center;
  font-size: 20px;
}

.page-link {
  padding: 0 9px 2px 9px;
  color: var(--grey);
  transition: 0.2s;
}

.link {
  padding: 0 2px 2px 2px;
  /* color: var(--grey); */
	color: var(--light-blue);
  transition: 0.2s;
}

.link:hover,
.link:focus,
.page-link:hover,
.page-link:focus {
	background: var(--grey);
	color: var(--blue);
}

.list-header {
  margin: 0;
}

ul.dashed,
p.list-header {
  padding: 0;
  margin-top: 0;
  list-style-type: none;
}

ul.dashed > li:before {
  content: '- ';
}

p.list-header:before {
  content: '* '
}

#name {
  font-size: 3rem;
  margin: 0;
}

/* collapse thingy */

.collapsible-header {
	cursor: pointer;
}

.collapsible-content {
  margin: 5px;
  padding: 10px;
  background: var(--other-blue);
}

.collapsible-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;

  font-size: 20px;
}
