
/* basics */
/* @import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap'; */
@import 'https://fonts.googleapis.com/css2?family=Fira+Code';
@import 'https://fonts.googleapis.com/css?family=VT323';

:root {
  --light-grey: #ECEFF4;
  --grey: #D8DEE9;
  --blue: #2E3440;
	--other-blue: #3B4252;
	--light-blue: #88C0D0;
  --purple: #B48EAD;
  --font: 20px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'VT323', monospace;
  background: var(--blue);
  padding-bottom: 25px;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-decoration: none;
}

a {
  color: inherit;
}

b {
  font-weight: 600;
}

p {
	margin: 0;
}

code {
  font-family: 'Fira Code', monospace;
  background: var(--other-blue);
  /* padding: .15em; */
  /* padding: 1px 1px 1px 1px; */
  padding: 0px 5px;
  font-size: 14px monospace;
  border-radius: 5px;
  /* border-radius: .15em; */
}

blockquote {
  border-left: 5px solid #a0a4ac;
  /* margin: 1.5em 10px; */
  margin: .5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

/* html */

.container {
  width: 90%;
	margin: 0 auto;
  max-width: 640px;
}

.top {
  padding-top: 5%;
}

.image {
  text-align: center;
  display: flex;
  justify-content: center;
}

.image img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.title {
  font-weight: normal;
  font-size: 2.5rem;
  color: var(--blue);
  text-align: center;
}

.description {
  color: var(--grey);
  font-size: 25px;
}

.bg {
  background: var(--grey);
  padding: 0 15px 2px 13px;
  text-align: center;
}


.small {
  font-size: 20px;
  opacity: .6;
  color: var(--light-grey);
}

.buttons {
  margin-top: 35px;
  text-align: center;
  font-size: 20px;
  justify-content: center;
}

.page-link {
  padding: 0 9px 2px 9px;
  color: var(--grey);
  transition: 0.2s;
}

.link {
  padding: 0 2px 2px 2px;
	color: var(--light-blue);
  transition: 0.2s;
}

.link:hover,
.link:focus,
.page-link:hover,
.page-link:focus {
	background: var(--grey);
	color: var(--blue);
}

.list-header {
  margin: 0;
}

ul.dashed,
p.list-header {
  padding: 0;
  margin-top: 0;
  list-style-type: none;
}

ul.dashed > li:before {
  content: '- ';
}

p.list-header:before {
  content: '* '
}

#name {
  font-size: 3rem;
  margin: 0;
}

/* collapse thingy */

.collapsible-header {
	cursor: pointer;
}

.collapsible-body {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.1s ease-out;

	font-size: 20px;
}

.collapsible-content {
  margin: 5px;
  padding: 10px;
	background: var(--other-blue);
  font-size: 20px;
}

/* bot stuff */
.cmd-usage {
  color: var(--purple);
  font-size: 14px;
}

.cmd-desc {
  font-size: 20px;
}

.commands {
  color: var(--grey);
  /* font-size: 20px; */
}

.info {
  padding-left: 20px;
}

.info-bar {
  padding: 0 9px 2px 9px;
  color: var(--grey);
}

/* loading animation */
.loading span {
    opacity: 0;
    -webkit-animation: loading-dot 1s infinite;
    animation: loading-dot 1s infinite;
}

.loading span:nth-child(1) {
    -webkit-animation-delay: 0.0s;
    animation-delay: 0.0s;
}
.loading span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.loading span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes loading-dot {
      0% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes loading-dot {
      0% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 0; }
}
